<!-- Footer Menu -->
<div class="footer-menu">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="row w-100 g-0">
                <div class="col">
                    <a href="{%url 'home'%}" class="nav-link active">
                        <span class="material-symbols-outlined">home</span>
                        <div class="small">Home</div>
                    </a>
                </div>
                <div class="col">
                    <a href="{%url 'store'%}" class="nav-link">
                        <span class="material-symbols-outlined">trending_up</span>
                        <div class="small">Invest</div>
                    </a>
                </div>
                <div class="col">
                    <a href="{%url 'team'%}" class="nav-link invite-center">
                        <span class="material-symbols-outlined">group_add</span>
                    </a>
                </div>
                <div class="col">
                    <a href="{%url 'blog'%}" class="nav-link">
                        <span class="material-symbols-outlined">article</span>
                        <div class="small">Blog</div>
                    </a>
                </div>
                <div class="col">
                    <a href="{%url 'account'%}" class="nav-link">
                        <span class="material-symbols-outlined">person</span>
                        <div class="small">Account</div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>
